//= require_self
//= require_tree .

@import mixins

*
  margin: 0
  padding: 0

html
  background: #fff

body
  padding: 100px
  font:
    family: 'helvetica neue', 'arial', sans-serif
    size: 21px

h1
  margin-bottom: 80px
  font-size: 44px
  a
    border-bottom-width: 5px

p
  color: #666

a
  font-weight: bold
  text-decoration: none
  color: #cc9933
  border-bottom: solid 2px

hr
  margin: 40px 0
  border: none
  border-top: solid 1px #ccc

input
  font:
    family: 'helvetica neue', 'arial', sans-serif
    size: 21px

input[type=text]
  width: 400px
  padding: 5px
  outline: none
  border: solid 1px #ccc
  &::-webkit-input-placeholder
    color: #bbb
  &:focus
    color: #cc9933
    border-color: #cc9933
    &::-webkit-input-placeholder
      color: #cc9933

input[type=submit]
  cursor: pointer
  min-width: 100px
  margin: 40px 0 0 150px
  padding: 6px 20px
  text-align: center
  font:
    size: 21px
    weight: bold
  color: #fff
  background: #cc9933
  border: none

.field
  @include clear
  margin-top: 20px
  > label
    display: block
    float: left
    width: 150px
    margin-top: 6px
    font-weight: bold
  &.checkbox
    > label
      margin-top: 0 !important
    input[type=checkbox]
      position: relative
      top: -3px
    .container label
      padding-left: 5px