#images
  
  &.index
    ul
      padding: 0
    li
      float: left
      list-style-type: none
      a
        display: block
        width: 60px
        height: 60px
        padding: 20px
        border: none
        &:hover
          color: #fff
          background: #cc9933
  
  &.new
    input[type=text]
      margin-right: 4px
    #image_origin
      width: 400px
    #image_size
      width: 200px